* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.grid > .row > img,
.ui.grid > .row > .column > img {
  height: 100%;
}
.ui.cards{
  margin-bottom:25px ;
}
.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}

.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0;
  overflow: hidden;
}

.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.container{
  margin-bottom: 50px;
}
.ui.grid.container {
  margin-top: 45px;

}

.ui.grid > .row {
  background: #fff;
  text-align: center;
 }

.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start;
}

.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start;
}

.ui.placeholder .header:not(:first-child)::before,
.ui.placeholder .image:not(:first-child)::before,
.ui.placeholder .paragraph:not(:first-child)::before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}

.column.rp p {
  font-size: 18px;
  color: #777;
}

.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

.container{
  width: 100%;
  margin-bottom: 50px;
}

.filter{
  display: flex;
  justify-content: space-between;
  padding:1rem;
  margin:1rem;
  border-bottom: 0.1rem #0c0c0c0c solid ;
}
.filter div{
  flex:1
}